body {
  margin: 0;
  overflow: hidden;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
}

table {
  width: 400px;
  height: 650px;
  border-collapse: collapse;
  margin-top: 50px;
}

td {
  border: 1px solid white;
  position: relative;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#waveMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  display: none;
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: none;
}

#gameMessage {
  margin-bottom: 20px;
}

#restartButton {
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f44336;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 12px;
  margin-top: 20px;
}

#restartButton:hover {
  background-color: #e53935;
  transform: scale(1.1);
}

#restartButton:active {
  background-color: #c62828;
  transform: scale(1.05);
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-top: 10px;
}

#waveCounter {
  color: #ffff;
  font-size: 18px;
  margin-right: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #ff5733;
  text-align: center;
  font-weight: bold;
}

#pauseButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 0;
  background-color: #4caf50;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#pauseButton:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

#pauseButton:active {
  background-color: #3e8e41;
  transform: scale(1.05);
}

#healthCounter {
  color: #ffff;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4caf50;
  text-align: center;
  font-weight: bold;
}

.enemy-level-2 {
  background-color: #33cc33;
}

.enemy-level-3 {
  background-color: #ff6600;
}

/* Мобільні елементи керування */
@media (max-width: 570px) {
  #virtualControls {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  #joystick {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
  }

  #joystick div {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  #up {
    top: 10px;
    left: 35px;
  }

  #down {
    bottom: 10px;
    left: 35px;
  }

  #left {
    left: 10px;
    top: 35px;
  }

  #right {
    right: 10px;
    top: 35px;
  }

  #fireButton {
    background-color: #ff5733;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #fireButton:hover {
    background-color: #e53935;
  }
}